{%for record in table_datas%}
{%for column in column_names%}
<form action="/table/{{table_name}}/column/{{column}}/record/{{record.rowid}}/update" method="post">
  <div id="modal-edit-{{column}}-{{record.rowid}}" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Update cell</p>
        <button type="reset" class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" name="value" type="text" value="cell_data">
              </p>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <button type="submit" class="button is-success">Save changes</button>
        <button type="reset" class="button">Cancel</button>
      </footer>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
</form>
{%endfor%}
{%endfor%}
