<form action="/login" method="post">

  <div class="field">
    <label class="label">Role name:</label>

    <p class="control">
      <input class="input" name="role_name" type="text" placeholder="example">
    </p>
  </div>
  <div class="field">
    <label class="label">Role passphrase:</label>

    <p class="control">
      <input class="input" name="role_passphrase" type="text" placeholder="example">
    </p>
  </div>
  <div class="field is-group">
    <button type="submit" class="button"> Login </button>
    <a class="button js-modal-trigger" data-target="modal-signup"> Signup </a>
  </div>
</form>
